{% extends 'admin.html' %}
{% block title %}view vaccancy details{% endblock %}
{% block head %}
{% endblock %}
{% block admin_nav %}
{% endblock %}
{% block body %}


<table class="table" xmlns="http://www.w3.org/1999/html">
    <thead>
    <tr>
        <th><h3>View Vaccancy Details</h3></th>
    </tr>

    </thead>
</table>
<table class="table table-bordered">
    <tbody>
    {% for i in form %}
    <tr>
        <th>Company Name</th>
        <td colspan="4">{{i.name}}</td>
    </tr>
    <tr>
        <th>Job Title</th>
        <td colspan="4">{{i.job_title}}</td>
    </tr>
    <tr>
        <th>Job Descriptions</th>
        <td colspan="4">{{i.description}}</td>
    </tr>
    <tr>
        <th>Monthly Salary</th>
        <td>{{i.salary}}</td>
        <th>Job Location</th>
        <td>{{i.location}}</td>
    </tr>
    <tr>
        <th>No of Opening</th>
        <td colspan="4">{{i.no_of_opening}} </td>
    </tr>
    <tr>
        <th>Apply Date</th>
        <td>{{i.apply_date}}</td>
        <th>Last Date</th>
        <td>{{i.last_date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
 <a href="{% url 'admin_dashboard' %}"><button class="btn btn-primary">go to Home page</button></a>


{% endblock %}