{% extends 'basic.html' %}
{% load static %}
{% block title %}ContactUs page{% endblock %}
{% block head %}
{% endblock %}
{% include 'navbar.html' %}
{% block body %}
<br>
<h2>Contact Us</h2>
<hr>
<h4>1) Government Engineering College,Modasa (Google Map)</h4><br>
<iframe src="https://www.google.com/maps/d/embed?mid=1LlxPljT9DxSAW2uXAl5sYFmFyU7M6g8w" width="1080" height="540"></iframe>
<br><br><br>
<ul type="triangle">
    <li style="color:red;font-size:30px"><h3>College Campus</h3></li><hr>
<p>
     Shamlaji Road, Modasa, District Aravalli , Gujarat, India 383315<br>
    <i class="fa fa-fw fa-envelope"></i> gec-modasa-dte@gujarat.gov.in<br>
    <i class="fa fa-fw fa-phone"></i> (+91)02774 242 633/634<br>
    <i class="fa fa-fw fa-globe"></i> http://www.gecmodasa.ac.in<br>
</p>

    <li style="color:red;font-size:30px"><h3>Working Hours</h3></li><hr>
<p>
    <b>Monday-Friday:</b> 10:30am to 6:10pm<br>
    <b>Saturday:</b> 10:30am to 6:10pm (Closed on 2nd & 4th)<br>
    <b>Sunday:</b> Closed<br>
</p>
</ul>


{% endblock %}